<header class="flex flex-row h-[12vh] items-center justify-between bg-black text-white">
    <h1 class="px-4 text-xl font-bold">Avion Blogspot</h1>
    <ol class="flex flex-row m-2 font-semibold">
        <%=link_to "Home", articles_path, class: "inline-block mx-4 cursor-pointer hover:text-teal-200" %>
        <%=link_to "Write", article_new_path, class: "inline-block mx-4 cursor-pointer hover:text-teal-200" %>
    <ol>
</header>
